.details a {
	color: white;
}

.details img {
	width: 20px;
	height: 20px;
	border-radius: 0px;
	margin-left: 0px;
}

.details {
	background-color: #f44336;
	text-align: center;
	color: white;
}

.to-do {
	margin-top: 50px;
	text-align: center;
}

.to-do img {
	margin-right: 55px;
}

.item-2{
	margin-top: 50px;
}

footer {
	margin-top: 200px;
}

